<div *ngIf="(isLoading$ | async) else homecontainer" fxLayout fxLayoutAlign="center center" class="cv-home-spinner">
    <mat-spinner color="accent"></mat-spinner>
</div>
<ng-template #homecontainer>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem" class="cv-home-container">
        <section id="section-intro">
            <div class="cv-home-intro-title" fxLayout="column" fxLayoutAlign="start center">
                <div class="cv-code-variable">Boris Obre-Illaret</div>
                <div>•</div>
                <div class="cv-code-type">Développeur sénior .NET</div>
            </div>
            <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem" class="cv-home-intro-skills">
                <a *ngFor="let skill of (skills$ | async)" (click)="goToFragment(skill.id)">{{ skill.competence.toLowerCase() }}</a>
            </div>
        </section>
        <ng-template ngFor let-skill [ngForOf]="skills$ | async">
            <cv-home-skill [skill]="skill"></cv-home-skill>
        </ng-template>
    </div>
</ng-template>