<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <cv-sidenav-list (sidenavClose)="sidenav.close()"></cv-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <cv-header (sidenavToggle)="sidenav.toggle()"></cv-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<div fxLayout="column" fxLayoutAlign="center stretch" class="cv-main-container">
    <header fxFlex="none">
        <cv-header></cv-header> 
    </header>
    <main fxFlex="grow">
        <router-outlet></router-outlet>
    </main>
    <footer fxFlex="none">
        <cv-footer></cv-footer>
    </footer>
</div>