$cv-a-hover-color: #80CBC4;
$cv-a-is-active-color: #009688;

a {
    text-decoration: none;

    &:hover, &:active {
        color: $cv-a-hover-color;
    }

    &.is-active {
        color: $cv-a-is-active-color;

        &:hover, &:active {
            color: $cv-a-hover-color;
        }
    }
}